@import 'src/assets/styles/_variables';
@import 'src/assets/styles/_mixins';

.fixed-menu-left {
  @include common-style-menu(0px);
  bottom: 0;
  width: 110px;
  .collection {
    border-radius: 0;
    margin: 0;
    border: none;
    .collection-item {
      background: $menu-bg-color;
      border: none;
      cursor: pointer;
      &.active-page {
        border-left: 3px #0091ff inset;
      }
    }
  }
}

.fixed-menu-top {
  @include common-style-menu(110px);
  right: 0;
  height: 50px;
  .content {
    width: 100%;
    .hello-user {
      font-weight: 300;
    }
    .btn-flat {
      font-weight: 500;
    }
  }
}
