<!-- Left side menu -->
<div class="fixed-menu-left">
  <ul class="collection">
    <li *ngFor="let item of menuItems" class="collection-item" [routerLink]="item.link" routerLinkActive="active-page">
      <div class="center">
        <i mz-icon-mdi [icon]="item.icon" size="24px"></i>
      </div>
      <div class="center">{{ item.text }}</div>
    </li>
  </ul>
</div>
<!-- Top menu header -->
<div class="fixed-menu-top valign-wrapper">
  <div class="content right-align">
    <span class="hello-user">Hello, John Doe</span>
    <button class="btn-flat white-text waves-effect">
      Logout
      <i mz-icon-mdi align="right" icon="logout-variant"></i>
    </button>
  </div>
  <mz-progress *ngIf="showLoader | async" class="menu-loader" backgroundClass="blue-grey lighten-4" progressClass="blue-grey darken-3"></mz-progress>
</div>
